<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.server.mapper.RateExMapper">
    <resultMap id="rateMap" type="com.example.server.model.Rate">
        <id property="rateId" column="rate_id"/>
        <id property="curLocal" column="cur_local"/>
        <id property="curLocalMoney" column="cur_local_money"/>
        <id property="curField" column="cur_field"/>
        <id property="curFieldMoney" column="cur_field_money"/>
        <id property="date" column="date"/>
        <id property="curNameJson" column="cur_name_json"/>
    </resultMap>
    <select id="selectRate" resultMap="rateMap">
        select *
        from project.exchange_rate rate
        where rate.date = #{date}
    </select>
    <insert id="insertRate" parameterType="com.example.server.model.Rate">
        insert into project.exchange_rate (cur_local,
                                           cur_local_money,
                                           cur_field,
                                           cur_field_money,
                                           date,
                                           create_time,
                                           cur_name_json)
        values (#{curLocal},
                #{curLocalMoney},
                #{curField},
                #{curFieldMoney},
                #{date},
                #{createTime},
                #{curNameJson})
    </insert>

    <resultMap id="jsonMap" type="com.example.server.model.CurrencyJson">
        <id property="currencyId" column="currency_id"/>
        <id property="currency" column="currency"/>
        <id property="currencyName" column="currency_name"/>
        <id property="currencyNation" column="currency_nation"/>
    </resultMap>
    <select id="selectCurrency" resultMap="jsonMap">
        select *
        from project.currency_json
        where currency = #{currency}
    </select>

    <select id="getOnly" resultMap="rateMap">
        select *
        from project.exchange_rate rate
        where rate.cur_field = #{curField}
        order by rate.date desc
    </select>

    <resultMap id="nationOnly" type="com.example.server.model.NationNameAll">
        <id property="currency" column="currency"/>
        <id property="currencyName" column="currency_name"/>
        <id property="currencyNation" column="currency_nation"/>
    </resultMap>
    <select id="getNationOnly" resultMap="nationOnly">
        select *
        from project.currency_json json
        where json.currency = #{curField}
    </select>

    <select id="getNation" resultMap="jsonMap">
        select *
        from project.currency_json
    </select>

    <select id="getNationName" resultMap="jsonMap">
        select *
        from project.currency_json
        where currency = #{curField}
    </select>

    <resultMap id="jsonNationNameAllMap" type="com.example.server.model.NationNameAll">
        <id property="currency" column="currency"/>
        <id property="currencyName" column="currency_name"/>
        <id property="currencyNation" column="currency_nation"/>
    </resultMap>

    <select id="getNationNameAll" resultMap="jsonNationNameAllMap">
        select *
        from project.currency_json
    </select>

    <insert id="fromSubmit" parameterType="com.example.server.model.UserMoney">
        insert into project.user_money (user_name_id,
                                        user_name,
                                        user_phone,
                                        nation,
                                        rate_name,
                                        ex_money,
                                        cur_field_money,
                                        show_money,
                                        cur_name_json,
                                        create_time)
        values (#{userNameId},
                #{userName},
                #{userPhone},
                #{nation},
                #{rateName},
                0,
                #{curFieldMoney},
                0,
                #{curNameJson},
                #{createTime})
    </insert>

    <resultMap id="getId" type="com.example.server.model.UserMoney">
        <id property="userId" column="user_id"/>
        <id property="userNameId" column="user_name_id"/>
        <id property="userName" column="user_name"/>
        <id property="nation" column="nation"/>
        <id property="rateName" column="rate_name"/>
        <id property="exMoney" column="ex_money"/>
        <id property="curFieldMoney" column="cur_field_money"/>
        <id property="showMoney" column="show_money"/>
        <id property="curNameJson" column="cur_name_json"/>
    </resultMap>
    <select id="getUserMoneyAll" resultMap="getId">
        select *
        from project.user_money
        where user_name like concat('%', #{userName}, '%')
    </select>

    <update id="setId" parameterType="com.example.server.model.UserMoney">
        update project.user_money
        set user_name_id = #{userNameId}
        where user_name = #{userName}
    </update>

    <delete id="delId" parameterType="Long">
        delete
        from project.user_money
        where user_id = #{userId}
    </delete>

    <select id="getUserMoneyId" resultMap="getId">
        select user_id,
               user_name_id,
               user_name,
               nation,
               rate_name,
               ex_money,
               cur_field_money,
               show_money
        from project.user_money
        where user_id = #{userId}
    </select>

    <update id="setUserMoneyId" parameterType="map">
        update project.user_money x
        set
            x.ex_money = #{exMoney},
            x.show_money = #{showMoney}
        where x.user_id = #{userId}
    </update>


</mapper>
